.container{
	width: 100%;
	border-bottom: 1px solid #979797;
	padding-bottom: -100px
}
.icono{
	padding-top: 10px;
	padding-left: 100px;
	padding-bottom: 5px;
}
nav{
	position: relative;
	top:-80px;
	font-size: 18px;
	text-align: center;
	margin-left: 700px;
	border bottom: 2px solid blue;
}
ul li {
	display: inline-block;
	position: relative;
	margin: 20px;
	padding-left: 10px;
	margin-left: 20px;
	color:black;
}
.title{
	color:#002366;
	font-size:50px;
	text-align: center;
}
.comilla1{
	margin-left:-250px;
}
.texto{
	margin-top: 5px;
	margin-left: 50px;
}
#comillas{
   transform: rotate(180deg);
}
.texto2{
	text-align: center;
	font-size: 18px;
	color:#002366;
}
.content{
	height: 800px;
	width:900px;
	text-align: center;
}
h4{
	color:green;
	font-size: 30px;
	text-align: center;
	padding-top: -910px;
}
.secondtitle{
	color:#002366;
	font-size: 23px;
}
.titulo{
	color:#002366;
	font-size: 40px;
	text-align: center;
}
.management{
	height: 400px;
	width:800px;
	border color :2px solid blue; 
	padding-bottom: 2px ;
	padding-top: 3px;
	padding-right: 30px;
	list-style-position:;

}


	








