nav{
	position: relative;
	top:-80px;
	font-size: 18px;
	text-align: center;
	margin-left: 700px;
	border bottom: 2px solid blue;
}
ul li {
	display: inline-block;
	position: relative;
	margin: 20px;
	padding-left: 10px;
	margin-left: 20px;
	color:black;
}


.banner{
	background-image: url("../img/hero-image.jpg");
	position: center center;
	background-size: cover;
	height: 450px;
	text-align: center;
	padding-top: 15%;
	color: white;
	font-size: 1.5em;
}
.banner h1{
	margin-bottom: 5%;
}
.sim{
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
	color: gray;
	font-size: 1.2em;
}
.sim h2{
	text-align: center;
	padding-top: 3%;
	margin-bottom: 5%;
	color: #002366;
	font-size: 1.5em;
}
.caja{
	border:2px solid gray;
	height: 320px;
	padding-top: 15%;

}
.contac{
	background-image: url("../img/background-contac-us.jpg");
	height: 400px;
	text-align: center;
	color: white;
}
.bt
{
	display: block!important;
	margin: auto!important;
	height: 40px;
	width: 40%;
	margin-bottom: 4%;
}


	








